<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers planet</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="free-shipping">
        Darmowa dostawa przy zamówieniach powyżej 299 PLN!
    </div>
    <nav>
        <a href="/">
            <img src="cat-animal-icon.svg" alt="Home">
        </a>
        <a href="/">Home</a>
        <a href="/obuwie">Obuwie</a>
        <a href="/ubrania">Ubrania</a>
        <a href="/akcesoria">Akcesoria</a>
        <div class="right-icons">
            <a href="/search">
                <img src="/search-icon.svg" alt="Search">
            </a>
            <a href="/account">
                <img src="account.svg" alt="Account">
            </a>
            <a href="/cart">
                <img src="shopping-cart.svg" alt="Shopping Cart">
            </a>
        </div>
    </nav>
    <div class="login-container">
        <h2>Rejestracja</h2>
        <form action="/register" method="post">
            <input type="name" name="name" placeholder="Imię" required>
            <input type="surname" name="surname" placeholder="Nazwisko" required>
            <input type="password" name="password" placeholder="Hasło" required>
            <input type="email" name="mail" placeholder="E-mail" required>
            <button type="submit">Zarejestruj</button>
        </form>
        <% if (errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
        <p>Nie masz konta? <a href="/register">Zarejestruj się</a></p>
    </div>
</body>
</html>
